<table>

  <tr>
    <td>
      <label style="font-size:12px;" for="milestone_name">Iteration: </label>
    </td>
    <td>
      <label id="finished_iteration_2" style="text-decoration: none;color:black;font-size:15px;font-style:italic"></label>
    </td>
  </tr>

  <tr>
    <td style="padding-top:15px;">
      <label>Date: </label>
    </td>
    <td style="padding-top:15px;">
      <label id="retrospective_date_2"></label>
    </td>
  </tr>

  <tr>
    <td valign="top" style="padding-top:15px;">
      <label for="beginning_date">Observations: </label>
    </td>
    <td style="padding-top:15px;">      
      <textarea readonly rows="10" cols="40" id="retrospective_observation_2" name="retrospective[observation]"></textarea>
    </td>
  </tr>

</table>

