<form id="add_new_retrospective" action="/sprint_closing/view_retrospective"  method="post">
<table>

  <tr>
    <td>
      <label style="font-size:12px;" for="milestone_name">Iteration: </label>
    </td>
    <td>
      <label id="finished_iteration_2" style="text-decoration: none;color:black;font-size:15px;font-style:italic"></label>
    </td>
  </tr>

  <tr>
    <td style="padding-top:15px;">
      <label>Date: </label>
    </td>
    <td style="padding-top:15px;">
      <label id="today_date"><%= @retrospective.created_at.strftime("%d/%m/%Y")  %> </label>
    </td>
  </tr>

  <tr>
    <td valign="top" style="padding-top:15px;">
      <label for="beginning_date">Observations: </label>
    </td>
    <td style="padding-top:15px;">
      <%#= text_area 'retrospective',@retrospective.observation.to_s, 'observation', :rows => 10 %>
      <textarea readonly rows="10" cols="40" id="retrospective_observation_2" name="retrospective[observation]"><%= @retrospective.observation %>  </textarea>

    </td>
  </tr>

  <%#*<input id="retrospective_id" type="hidden" name="retrospective_id"></input>%>

</table>

</form>
